p{
    text-align: center;
    font-size: 39px;
    border: 6px solid #040303;
    background-color: #18a8cbf5;
    color: #f9f3f3;
}
.container{
    font-size: 9px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 5px solid #fffcfc;
    background-color: #0f646ff5;  
}

h1{
    font-color: #060505;
}

a{
    text-decoration: none;
    color: #e5dddd;
    padding: px;
    border: 3px solid #f9f3f3;
    border-radius: 7px;
    background-color: #0b0d0df5;
    text-align: center;
}
body{
    background-color: #000000f5;
}
